@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Models.ViewModels
@model sp20team15finalproject.Models.ViewModels.ReservationSelectionViewModel
<h1>We have found the following Departing flights based on your search:</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                Date
            </th>
            <th>
                Base Fare
            </th>
            <th>
                Flight Number
            </th>
            <th>
                Departing City Name
            </th>
            <th>
                Arrival City Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.departingFlightDetails)
        {
        <tr>
            <th>
                @Html.DisplayFor(modelitem => item.Date)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Flight.BaseFare)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Flight.FlightNumber)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Flight.DepartingCity.CityName)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Flight.ArrivingCity.CityName)
            </th>



        </tr>
        }
    </tbody>
</table>

<h1>We have found the following Returning flights based on your search:</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                Date
            </th>
            <th>
                Base Fare
            </th>
            <th>
                Flight Number
            </th>
            <th>
                Departing City Name
            </th>
            <th>
                Arrival City Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.arrivingFlightDetails)
        {
        <tr>
            <th>
                @Html.DisplayFor(modelitem => item.Date)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Flight.BaseFare)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Flight.FlightNumber)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Flight.DepartingCity.CityName)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Flight.ArrivingCity.CityName)
            </th>



        </tr>
        }
    </tbody>
</table>



<form asp-action="AddFlightToCart">

    <h2> Select Your Departing Flight:</h2>

    @Html.DropDownListFor(model => model.departureFlightDetailID, (SelectList)ViewBag.DepartingFlights, new { @class = "form-control" })

    @Html.HiddenFor(model => model.TripType, new { @value = enumTripType.one_way })
    @Html.HiddenFor(model => model.arrivalCityID, new { @value = Model.arrivalCityID })
    @Html.HiddenFor(model => model.ReservationID, new { @value = Model.ReservationID })
    @Html.HiddenFor(model => model.arrivalDate, new { @value = Model.arrivalDate })
    @Html.HiddenFor(model => model.arrivingFlightDetails, new { @value = Model.arrivingFlightDetails })
    @Html.HiddenFor(model => model.departingCityID, new { @value = Model.departingCityID })
    @Html.HiddenFor(model => model.departingFlightDetails, new { @value = Model.departingFlightDetails })
    @Html.HiddenFor(model => model.departureDate, new { @value = Model.departureDate })
    @Html.HiddenFor(model => model.NumberOfPassengers, new { @value = Model.NumberOfPassengers })

    <h2> Select Your Returning Flight:</h2>

    @Html.DropDownListFor(model => model.arrivingFlightDetailID, (SelectList)ViewBag.ReturningFlights, new { @class = "form-control" })
    <div class="form-group">
        <input type="submit" value="Select Flight" class="btn btn-primary" />
    </div>
</form>