

@model IEnumerable<sp20team15finalproject.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlySun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlyMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlyTue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlyWed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlyThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlyFri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlySat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseFare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlySun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlyMon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlyTue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlyWed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlyThu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlyFri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlySat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseFare)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.FlightID">Delete Flight</a>
                </td>
            </tr>
        }
    </tbody>
</table>
